html{
    scroll-behavior: smooth;
    scroll-padding-top: 8%;
}

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(232, 231, 231);
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden
}

.Nav-head {
    display: flex;
    background-color: #2A2A2A;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


nav a {  
    margin-right: 30px;                                                             
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.4s;
    position: relative;
    display: inline-block;
    
}

nav a:hover {
    transform: scale(1.1); 
}

nav a::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -2px; 
    background-color: white;
    transition: 0.4s;
}

nav a:hover::after {
    width: 100%;
}

.logo {
    margin: 0;
}


/*Home*/

.Home-span{
    color: rgb(175, 106, 3);
}

.Home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    gap: 5%;
    padding: 2%;
    width: 100%;
    
}

.pic1{
    margin-top: 4%;
    border-radius: 2%;
    box-shadow: 5px 5px 7px #2A2A2A;
    min-width: 33vw;
    max-height: 75vh;
}

.pic1-mobile{
    display: none;
}
 
.content{   
    line-height: 1.2;
    color: #573007; 
    margin-top: 4.5%;
    
}

.Home-h1{
    font-size: 4vw;
    font-family: roboto;
    line-height: 0.5;
    margin-bottom: 0;
}

.Home-h2{
    margin-bottom: 3.5%;
    font-size: 2.5vw;
    font-family: roboto;
}

.content p{
    line-height: 1.2;
    color: #3F3B3B;
    font-size: calc(1vw + 1.2vh);
    font-family: Inria;
}


.Contact{
    margin-left: 1.5%;
}

button{
    padding: 1.5% 3%;
    width: 30%;
    background-color: #d48c39;
    border-radius: 5px;
    box-shadow: 3px 3px 5px black;
    border: 1px black;
    transition: 0.4s;
    margin-top: 5%;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-size: 1.3vw;
    font-weight: bold;
    font-family: roboto;
    
    
}

button:hover{
    transform: scale(1.03);
    transition: 0.5s;
    background-color: #bd7905;
}





/*About*/
.about-span{
    color: rgb(175, 106, 3);
}

.pic2{
    min-width: 33vw;
    max-height: 75vh;
    border-radius: 2%;
    box-shadow: 5px 5px 7px #2A2A2A;
}

.container-content1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 5% 2%;
    padding-bottom: 4vh;

}

h1{
    color: #573007;
    font-size: 2.9vw;
    margin-bottom: 3%;
    font-family: roboto;
    line-height: 1.5;
}

p{
    line-height: 1.5;
    font-size: calc(0.8vw + 1.2vh);
    color: #3F3B3B;
    font-family: Inria;
}


.logos{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: -5%;
    transition: 0.4s;
}

.logos img{
    width: 2.3vw;
}

.logos img:hover{
    transform: scale(1.15);
    transition: 0.4s;
}

.about-btn button{
    width: 30%;
    font-size: 1.3vw;
    
}

.Gallery-h1, .value-h1, .hobbies-h1{
    font-family: Inria;
    line-height: 1;
    font-size: calc(2vw + 2vh);
    padding-bottom: 4vh;
}


.container-content2{
    display: flex;
    margin-top: 3%;
    gap: 1.5%;
    flex-direction: column;
    align-items: center;  
    padding-bottom: 4vh;
}

.content2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
    margin-top: 5%;
}

.gallery-img{
    border-radius: 2%;
    box-shadow: 3px 3px 7px #2A2A2A;
    width: 20vw;
    height: 50vh;
}

.container-content3{
    display: flex;
    margin-top: 4%;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding-bottom: 4vh;
}

.content3{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 5%;
    
}

.content3 p,h3{
    color: white;
    font-family: Inria;
    
}

.box1, .box2, .box3, .box4{
    background-color: #9a682f;
    text-align: center;
    width: 45%;
    border-radius: 2%;   
    box-shadow: 3px 3px 7px #2A2A2A;
    
}

.icon{
    width: 7vw;
    height: 9vh;
    border-radius: 60%;
    margin-top: 4.5%;
}



.hobbies-intro{
    font-family: Inria;
    color: #573007;
    font-size: 1.5vw;
}

.container-content4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #573007;
    font-family: Inria;
    padding: 5% 0;
    
}

.hobbies{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.hobbies img{
    width: 20vw;
    height: 50vh;
    border-radius: 2%;
    box-shadow: 3px 3px 7px #2A2A2A;
}

.hobbies-h4{
    font-size: calc(1.5vw + 1.5vh);
}


/*Education*/

.shs-content .SHS_award-mobile-hide{
    display: none;
}

.secondary .knhs-mobile-view{
    display: none;
}

.education-container{
    display: flex;
    flex-direction: column; 
    width: 100%;;
    padding: 3% 0;
    
}

.education-container .head  h1, .achievement-h1{
    font-size: calc(1.5vw + 2vh);
    line-height: 0;
}

.education-subhead{
    font-size: calc(0.8vw + 1.5vh);
    line-height: 0;
    padding-bottom: 7vh;
}

.education-title{
    font-size: calc(1vw + 2vh);

}


.education-content{
    display: flex;
    flex-direction: column;
}

.education-container img{
    display: flex;
    width: 35vw;
    height: 50vh;
    border-radius: 1%;
}

.tertiary{
    display: flex;
    background-color: #3692CA;
    padding: 3%;
    align-items: center;
    justify-content: space-around;
}
 
.secondary{
    display: flex;
    background-color: #9A4343;
    padding: 3%;
    align-items: center;
    justify-content: space-around;
    
}

.primary{
    display: flex;
    background-color: #5A7AE1;
    padding: 3%;
    align-items: center;
    justify-content: space-around;

}

.tertiary-content p, .secondary-content p, .primary-content p{
    color: white;
    font-size: calc(1vw + 1vh);
    word-spacing: 2px;
}

.tertiary-content h3, .secondary-content h3, .primary-content h3{
    font-size: calc(1.5vw + 2vh);
    
}


.achievements-container{
    background-color: white;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 17% 0;
    gap: 18% 0;
}

.jhs-achievements, .shs-achievments{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 4%;
    margin-top: 5%;

}

.jhs-content h3, .shs-content h3{
    font-size: calc(1.5vw + 2vh);
    color: rgb(175, 106, 3);
}

.jhs-content p, .shs-content p{
    font-size: calc(1vw + 1vh);
    word-spacing: 2px;
    text-align: justify;
}

.jhs-division, .shs-division{
    background-color: #D48C39;
    width: 1.8vw;
    height: 45vh;
}

.academic-goal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    width: 100%;
}

.My-goals{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5%;

}

.goal1{
    display: flex;
    justify-content: flex-end;
    width: 40%;
    height: 20%;
    background-color: #CE2626;
    border-radius: 15px;
    margin-bottom: 2%;


}

.goal2{
    display: flex;
    justify-content: flex-end;
    width: 40%;
    height: 20%;
    background-color: #FFD41D;
    border-radius: 15px;
    margin-bottom: 2%;
}

.goal3{
    display: flex;
    justify-content: flex-end;
    width: 40%;
    height: 20%;
    background-color: #FF9B00;
    border-radius: 15px;
    margin-bottom: 2%;
}

.goal4{
    display: flex;
    justify-content: flex-end;
    width: 40%;
    height: 20%;
    background-color: #F13E93;
    border-radius: 15px;
    margin-bottom: 2%;
}

.goal5{
    display: flex;
    justify-content: flex-end;
    width: 40%;
    height: 20%;
    background-color: #FF5A5A;
    border-radius: 15px;
    margin-bottom: 2%;
}

.goal6{
    display: flex;
    justify-content: flex-end;
    width: 40%;
    height: 20%;
    background-color: #1A2CA3;
    border-radius: 15px;
    margin-bottom: 2%;
}

.goal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35vw;
    height: 25vh;
    background-color: #FFFDEB;
    padding: 3%;

}

.goal-content h3{
    color: #573007;
}

.goal-content p{
    color: #5C5656;
}








/*Skills*/

.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}

.head{
    text-align: center;
    color: #573007;
    font-family: roboto;
    padding: 2%;
}

.h1-skill{
    line-height: 0.5;
}

.h2-skill{
    font-size: 1.5vw;
}

.sub-head{
    margin-top: 10%;
    color: #573007;
    font-family: Inria;
    font-size: calc(1.6vw + 2vh);
    margin-bottom: 4%;
}

.tech-skills{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.tech-skills, .skill-icon{
    text-align: center;
    color: white;
    margin-top: 20px;
}

.tech-skills h4{
    margin-top: 10%;
    background-color: rgb(217, 122, 13);
    width: 250px;
    padding: 1%;
    border-radius: 50px;
}

.skills1, .skills2, .skills3, .skills4, .skills5, .skills6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;  
    text-align: center;
    background-color: #2A2A2A;
    border-radius: 2%;
   
}

.soft-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    margin-bottom: 3%;
}

.sub-head-softskills{
    color: #573007;
    font-family: Inria;
    font-size: calc(2.5vw + 2vh);
    padding-bottom: 5%;
}

.Skills-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15%;
    margin-bottom: 5vh;
}

.softskills-h3{
    color: #573007;
    font-size: calc(1vw + 1.8vh);


}

.skills img{
    margin-top: 2%;
    width: 10vw;
    height: 30vh;
}

.sample-project-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    margin: 0 5%;
    margin-top: 5%;
}

.sample-project{
    width: 29vw;
    height: 100vh;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    background-color: #285CCC;
    align-items: center;
    border-radius: 5%;
}

.sample-project-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20%;
    background-color: #FFF2BD;
    width: 29vw;
    height: 80vh;
    border-radius: 5%;
    padding: 5%;
}

.sample-project img{
    width: 25vw;
    height: 25vh;
    border-radius: 2%;
}

.project-title{
    text-align: center;
    font-size: calc(1.5vw + 2vh);
    
}

.sample-project-h3{
    color: #573007;
}

.sample-project-p{
    color: #5C5656;
}

/*Contact*/

.contact-main-wrapper {
    display: flex;
    width: 100vw;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    
    
}


.contact-container {
    display: flex;
    width: 85%;
    height: 100%;
    background-color: white;
    box-shadow: 5px 5px 7px #2A2A2A;
    border-radius: 2%;
    overflow: hidden;
   
    
}


.contact-info-sidebar {
    width: 45%;
    background-color: #2A2A2A;
    color: white;
    padding: 4%;
    margin-top: -2%;
    
}


.contact-title { 
    font-size: calc(2vw + 2vh); 
    color: white;
    margin-bottom: 4vh;
    
}


.contact-subtitle { 
    font-weight: 300; 
    margin-bottom: 10%; 
    opacity: 0.9; 
    margin-top: -27px;
    color: white;
}


.contact-detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

.contact-icon {
    width: 4.5vw;
    height: 5.5vh;
    margin-right: 3%;
}


.location {
    width: 7vw;
    height: 8.5vh;
    margin-left: -5%;
}

.contact-text label {
    display: block;
    font-size: calc(0.8vw + 0.7vh);
    letter-spacing: 2px;
    font-weight: bold;
    color: #bbb;
}

.location-text label {
    display: block;
    font-size: calc(0.8vw + 0.7vh);
    margin-top: 5%;
    letter-spacing: 2px;
    font-weight: bold;
    color: #bbb;
    margin-left: 1%;
}

.location-text span {
    font-size: calc(0.6vw + 1vh);
    letter-spacing: 1px;
    margin-left: 3px;
}

.contact-text span {
    font-size: calc(1vw + 0.8vh);
    letter-spacing: 1px;
}


.contact-form-container {
    width: 55%;
    padding: 4%;
}

.form-title {
    color: #5d4037; 
    font-size: calc(2vw + 2vh); 
    margin-bottom: 1%; 
    margin-top: -1%;
    
}

.form-subtitle { 
    color: #8d6e63;
    margin-bottom: 6%; 
    margin-top: -1%;
}

form input {
    width: 40vw;
    height: 7vh;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    border: 1px solid #bbb;
    font-family: inherit;
    outline: none;
}

form textarea{
  width: 40vw;
    height: 15vh;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    border: 1px solid #bbb;
    font-family: inherit;
    outline: none;  
}

form input:focus, form textarea:focus {
    border: 2px solid rgb(59, 113, 193);
}


.submit-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.submit-btn {
    background-color: #d48c39;
    color: white;
    border: none;
    padding: 10px 35px;
    font-size: 18px;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 3px 3px 5px black;
    transition: 0.4s;
    margin-top: -0.1%;
    
}

.submit-btn:hover {
    transform: scale(1.03);
    transition: 0.5s;
    background-color: #bd7905;
}

@media (max-width: 800px){

    html{
        scroll-padding-top: 130px;
    }

    body {
        width: 100%;
    }

    * {
        box-sizing: border-box;
    }

    
    .Nav-head {
        font-size: 13px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 15px 0;
        
    }

    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;   
    }

    nav a {
        margin: 0 10px; 
        font-size: 14px;
    }

    /* Home */
    .Home-container {
        flex-direction: column;
        padding-top: 130px; 
        justify-content: center;
        align-items: center;
        padding-bottom: 15%;
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center; 
    }

    .content p{
        padding: 0 10px;
    }

    .Home-h1 {
        font-size: 25px;   
        line-height: 1;  
        margin-bottom: 0;
    }

    .Home-h2 {
        font-size: 18px;
        line-height: 1.2;
        padding-bottom: 10%;
    }

    .Home-p {
        font-size: 14px; 
        padding-top: 5%;
    }

    .mobile-hide, .pic1 {
       display: none;
    }

    .btn-group {
        display: flex;
        width: 90%;
        align-items: center; 
        gap: 10px;
    }

    .btn-group a {
        width: 80%; 
    }

  
    .btn-group button {
        width: 100%;
        font-size: 18px;
        padding: 10px;
        cursor: pointer;
    }


    .pic1-mobile {
        display: block;
        border-radius: 7px;
        box-shadow: 5px 5px 7px black;
        width: 95%; 
        height: auto;
        margin: 20px auto;
    }

    /* About */
    .container-content1 {
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }

    .content1 {
        display: block; 
        text-align: center;
    }

    .about-btn {
        display: block;    
        width: 100%;       
        text-align: center;
    }
    
    .about-btn button {
        width: 100%;
        padding: 10px;    
        font-size: 18px; 
        margin-bottom: 20px;
    }

    .logos {
        display: flex;
        margin-left: 0;
        margin-top: 10px;  
        justify-content: center;
        width: 100%;
    }


    .logos img {
        width: 25px; 
        height: auto;
    }

    .content-h1 {
        font-size: 22px;
        line-height: 1.2;
    }

    .pic2 {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .container-content2 {
        width: 100%;
    }

    .content2 {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .gallery-img {
        width: 90%;
        height: auto;
        margin-bottom: 15px;
    }

    .container-content3 {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px;
    } 

    .content3 {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .box1, .box2, .box3, .box4 {
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;
    }

    .content3-p {
        font-size: 14px;
    }

    .hobbies-intro {
        font-size: 15px;
    }

    .hobbies {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .hobbies div {
        padding-bottom: 20px;
    }

    .hobbies img {
        width: 100%;
        
    }



    /* Education */


    .education-container {
        height: auto;
    }

    .education-container .head h1, 
    .achievement-h1 {
        font-size: 24px;
        line-height: 1.2;
    }

    .education-subhead {
        font-size: 16px;
        line-height: 1.2;
        padding-bottom: 30px;
    }

    .education-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .education-content img {
        width: 90%;
        height: auto;
        margin-bottom: 15px;
    }

    .secondary .knhs-desktop{
        display: none;
    }

    .shs-content .SHS_award-mobile-hide{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .shs-achievments .SHS_award-desktop{
        display: none;
    }

    .secondary .knhs-mobile-view{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .tertiary, .secondary, .primary {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .tertiary-content h3, 
    .secondary-content h3, 
    .primary-content h3 {
        font-size: 22px;
    }

    .tertiary-content p, 
    .secondary-content p, 
    .primary-content p {
        font-size: 15px;
    }

    .achievements-container {
        padding: 50px 10px;
        gap: 40px;
    }

    .jhs-achievements, 
    .shs-achievments {
        flex-direction: column;
    }

    .jhs-achievements img, 
    .shs-achievments img {
        width: 90%;
        height: auto;
    }

    .jhs-content, .shs-content {
        text-align: center;
        padding: 20px;
    }

    .jhs-content p, 
    .shs-content p {
        font-size: 15px;
        text-align: center;
    }

    .jhs-division, 
    .shs-division {
        display: none;
    }

    .My-goals {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .goal1, .goal2, .goal3, .goal4, .goal5, .goal6 {
        width: 90%;
        height: auto;
        justify-content: center;
    }

    .goal-content {
        width: 95%;
        height: auto;
        padding: 20px;
    }

    .goal-content h3 {
        font-size: 18px;
    }

    .goal-content p {
        font-size: 14px;
    }

    .sample-project-container{
        flex-direction: column;
        height: 10%;
    }

    .sample-project{
        width: 100%;
        margin-bottom: 8%;
    }

    .sample-project img{
        width: 100%;
        padding: 0 5%;
    }
    
    
    .sample-project-content{
        width: 100%;
    }








    /* Skills */
    .skills-container {
        width: 100%;
        padding: 20px;
    }

    .tech-skills {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .tech-skills h4{
        width: 80%;
        margin-left: 0;
        margin-top: 20px;
    }

    .skills1, .skills2, .skills3, .skills4, .skills5, .skills6 {
        width: 100%;
        padding: 20px;
    }

    .h1-skill {
        font-size: 20px;   
        margin-bottom: 0;
        line-height: 1.2;
        
       
    }

    .h2-skill {
        font-size: 15px;
    }

    .sub-head {
        font-size: 24px;
        margin-bottom: 15px
    }

    .soft-skills {
        width: 100%;
        padding: 20px;
    }

    .soft-skills img{
        width: 20vw;
        height: 30vh;
    }

    .Skills-content {
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }

    /* Contact */
    .contact-main-wrapper {
        margin-top: 50px;
        padding: 20px;
    }

    .contact-container {
        flex-direction: column;
        width: 100%;
        height: auto; 
    }

    .contact-detail-item {
        flex-direction: column;
        margin-bottom: 25px;
    }

    .contact-detail-item {
        flex-direction: column;
        margin-bottom: 25px;
        
    }

    .contact-text{
        padding: 20px;
    }

    .contact-info-sidebar {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        text-align: center;
    }

    .contact-form-container { 
        width: 100%;
        padding: 30px 20px;
    }

    form input, form textarea {
        width: 100%; 
    }

    .submit-btn {
        width: 100%;
        padding: 12px;
    }
}

